<div class="flex" *ngIf="dataArePresent">
  <div class="flex-item">
    <div style="display: inline;">
    <canvas  baseChart width="380px" height="175px"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
    </canvas>
    </div>
  </div>
</div>